.App {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #257ca3 !important;
  font-family: '8BITWONDERNominal' !important; 
  font-weight: normal !important; 
  font-style: normal !important; 
}
